@model TribiticaMVP.Models.KanbanModel

@{
    ViewData["Title"] = "Kanban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" />
@{ var columns = new string[] { "day", "week", "year" }; }

@if (ViewContext.HttpContext.Session.TryGetValue("UserID", out var userGuidBytes))
{
    var userGuid = new Guid(userGuidBytes);
    <input id="user-id" value="@userGuid" hidden="hidden" />
}

<h1>Kanban</h1>
<div class="row">
    @foreach (var column in columns)
    {
        <div class="column" id="@column">
            <form action="javascript:void(0);" method="POST" onsubmit="addItem('@column')" id="create-@column-form">
                <span>
                    <input type="text" id="add-@column-goal-name" placeholder="New goal">
                    <input type="submit" value="Add">
                </span>
            </form>
        </div>
    }
</div>

<div id="editForm">
    <h3>Edit</h3>
    <form action="javascript:void(0);" onsubmit="updateItem()">
        <input type="hidden" id="edit-id">
        <input type="hidden" id="edit-type">
        <input type="text" id="edit-header">
        <input type="text" id="edit-description">
        <input type="submit" value="Save">
        <a onclick="hideUpdateInput()" aria-label="Close">&#10006;</a>
    </form>
</div>

<script src="js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    getItems('year');
    getItems('week');
    getItems('day');
</script>
