@model TribiticaMVP.Models.KanbanModel

@{
    ViewData["Title"] = "Kanban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1>Kanban</h1>
<div class="row">
    <div class="column">gfh</div>
    <div class="column">gfhfgh</div>
    <div class="column">
        <form action="javascript:void(0);" method="POST" onsubmit="addItem()">
            <input type="text" id="add-name" placeholder="New to-do">
            <input type="submit" value="Add">
        </form>
    </div>
</div>

<script src="js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    getItems();
</script>
